@import '/vendor/filament/filament/resources/css/theme.css';

@config 'tailwind.config.js';

/* AUTH */
.fi-logo {
    @apply !h-10;
}

/* SIDEBAR */
/* .fi-sidebar.fi-sidebar-open {
    @apply !w-1/6;
} */

.fi-sidebar-nav-groups {
    @apply gap-y-4;
}

.fi-sidebar-header {
    @apply py-2 !ring-0 bg-gray-50 dark:!bg-gray-950 !shadow-none;
}

.fi-sidebar-group > .fi-sidebar-group-items { @apply gap-y-2; }

.fi-topbar nav {
    @apply !ring-0 py-2 !border-none bg-gray-50 dark:bg-gray-950 !shadow-none;
}

/* SIDEBAR ITEM */
.fi-sidebar-item a {
    @apply px-4 py-2 !rounded-none;
}

.fi-sidebar-item a > span,
.fi-sidebar-item a > svg {
    @apply font-semibold;
}

.fi-sidebar-item a:focus,
.fi-sidebar-item a:hover {
    @apply bg-primary-100 shadow-[rgba(50,_50,_105,_0.15)_0px_2px_5px_0px,_rgba(0,_0,_0,_0.05)_0px_1px_1px_0px] dark:bg-primary-900 dark:shadow-[rgba(50,50,93,0.25)_0px_6px_12px_-2px,_rgba(0,0,0,0.3)_0px_3px_7px_-3px] transition-all ease-in-out duration-100 !important;
}

.fi-sidebar-item a:hover svg,
.fi-sidebar-item a:focus span,
.fi-sidebar-item a:hover span {
    @apply text-primary-600 dark:text-gray-100 transition-all ease-in-out duration-100 !important;
}

.fi-sidebar-item-active a {
    @apply shadow-[rgba(50,_50,_105,_0.15)_0px_2px_5px_0px,_rgba(0,_0,_0,_0.05)_0px_1px_1px_0px] bg-primary-100 dark:bg-primary-900 dark:shadow-[rgba(50,50,93,0.25)_0px_6px_12px_-2px,_rgba(0,0,0,0.3)_0px_3px_7px_-3px];
}

.fi-sidebar-item a:hover svg,
.fi-sidebar-item a:focus svg,
.fi-sidebar-item-active svg {
    @apply transition-all ease-in-out duration-300 !important;
}
.fi-sidebar.fi-sidebar-open {
    .fi-sidebar-item a:hover svg,
    .fi-sidebar-item a:focus svg,
    .fi-sidebar-item-active svg {
        @apply !ml-1;
    }
}

Content
.fi-main {
    @apply my-4 pb-4 bg-white dark:bg-gray-900 rounded-none shadow-[rgba(17,_17,_26,_0.1)_0px_0px_16px];
}

.fi-simple-main,
.fi-section,
.fi-ta-ctn,
.fi-fo-tabs,
.fi-wi-stats-overview-stat,
.fi-fo-repeater-item {
    @apply shadow-[rgba(50,_50,_105,_0.15)_0px_2px_5px_0px,_rgba(0,_0,_0,_0.05)_0px_1px_1px_0px] rounded-none;
}

.fi-header-heading {
    @apply !text-2xl text-primary-600 dark:text-primary-400;
}

.fi-header-subheading {
    @apply !text-sm;
}

/* Filament Actions */
.fi-btn.fi-btn-color-primary {
    @apply text-secondary-50;
}
.fi-dropdown-trigger button.fi-btn {
    @apply !p-1;
}

.fi-btn,
.fi-input,
.fi-input-wrp,
.fi-modal-window,
.fi-dropdown-panel,
.fi-pagination-items,
.fi-icon-btn
{
    @apply !rounded-none;
}

::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #e5e7eb
}

::-webkit-scrollbar-thumb {
    background: #d1d5db
}

::-webkit-scrollbar-thumb:hover {
    background: #c9cbcd
}

.dark ::-webkit-scrollbar-track {
    background: #101215
}

.dark ::-webkit-scrollbar-thumb {
    background: #1f2126;
}

.dark ::-webkit-scrollbar-thumb:hover {
    background: #1a1d21
}

.loginwrapper{
    display: flex;
    width: 100%;
    align-items: center;
    overflow: hidden;
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
    height: 100vh;
    flex-basis: 100%;
  }

  .loginwrapper .lg-inner-column {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    overflow-y: auto;
  }

  .loginwrapper .left-column{
    display: none;
    flex: 1 1 0%;
    overflow: hidden;
    --tw-bg-opacity: 1;
    background-color: rgb(241 245 249 / var(--tw-bg-opacity));
  }

  .loginwrapper .left-column{
    display: none;
    flex: 1 1 0%;
    overflow: hidden;
    --tw-bg-opacity: 1;
    background-color: rgb(241 245 249 / var(--tw-bg-opacity));
  }

  .dark .loginwrapper .left-column{
    --tw-bg-opacity: 1;
    background-color: rgb(15 23 42 / var(--tw-bg-opacity));
  }

  @media (min-width: 1024px){
    .loginwrapper .left-column{
      display: block;
    }
  }

  .loginwrapper .left-column h4{
    font-size: 40px;
    line-height: 48px;
    --tw-text-opacity: 1;
    color: rgb(71 85 105 / var(--tw-text-opacity));
  }

  .dark .loginwrapper .left-column h4{
    --tw-text-opacity: 1;
    color: rgb(148 163 184 / var(--tw-text-opacity));
  }

  .loginwrapper .right-column{
    flex: 1 1 0%;
  }

  .loginwrapper .black-500-title{
    font-size: 40px;
    line-height: 48px;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }

  .auth-box{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 524px;
    padding: 1.75rem;
  }

  @media (min-width: 768px){
    .auth-box{
      padding-left: 42px;
      padding-right: 42px;
      padding-top: 44px;
      padding-bottom: 44px;
    }
  }
  .auth-box h4{
    margin-bottom: 0.75rem;
    font-size: 1.5rem;
    line-height: 2rem;
    --tw-text-opacity: 1;
    color: rgb(15 23 42 / var(--tw-text-opacity));
  }
  .dark .auth-box h4{
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }

  .auth-box2{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 524px;
    padding: 1.75rem;
  }

  @media (min-width: 768px){
    .auth-box2{
      padding-left: 42px;
      padding-right: 42px;
      padding-top: 44px;
      padding-bottom: 44px;
    }
  }
  .auth-box2 h4{
    margin-bottom: 0.75rem;
    font-size: 1.5rem;
    line-height: 2rem;
    --tw-text-opacity: 1;
    color: rgb(15 23 42 / var(--tw-text-opacity));
  }
  .dark .auth-box2 h4{
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }

  .auth-box-3 h4{
    margin-bottom: 0.75rem;
    font-size: 1.5rem;
    line-height: 2rem;
    --tw-text-opacity: 1;
    color: rgb(15 23 42 / var(--tw-text-opacity));
  }

  .dark .auth-box-3 h4{
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }

  .auth-footer{
    z-index: 999;
    padding-bottom: 2.5rem;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 400;
    --tw-text-opacity: 1;
    color: rgb(160 174 192 / var(--tw-text-opacity));
  }

  .dark .auth-footer{
    --tw-text-opacity: 1;
    color: rgb(148 163 184 / var(--tw-text-opacity));
  }

  .auth-box-3{
    position: relative;
    margin-right: auto;
    margin-left: auto;
    height: auto;
    width: 100%;
    max-width: 520px;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    padding: 2.5rem;
  }

  .dark .auth-box-3{
    --tw-bg-opacity: 1;
    background-color: rgb(30 41 59 / var(--tw-bg-opacity));
  }

  @media (min-width: 768px){
    .auth-box-3{
      border-radius: 0.375rem;
    }
  }

  @media (min-width: 1024px){
    .auth-box-3{
      margin-right: 150px;
    }
  }

  .logo-box-3{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  }

.v3-right-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.auth-footer3{
    position: absolute;
    bottom: 0px;
    display: none;
}

@media (min-width: 1024px){
    .auth-footer3{
      display: block;
    }
}

.max-w-\[520px\]{
    max-width: 520px;
}

.pt-20{
    padding-top: 5rem;
}

.pl-20 {
    padding-left: 5rem;
}

.backdrop-blur-sm {
    --tw-backdrop-blur: blur(4px);
    -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

